{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="presentations">
    {% for presentation in presentations %}
    <div class="example-wrapper">
        <h1> {{ presentation.title }} </h1>
        <br>
        <div class="globale">
            <img class="picture" src="{{ presentation.imageLien }}">
            <div class="para">
                <p>{{ presentation.content | raw }}</p>
                <div class="date">Ecrit le {{ presentation.createAt | date('d/m/Y') }} à {{ presentation.createAt | date('H:i') }}</div> 
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}
